.settings/
.cproject
.project
.idea/
build*/
releng/
ext/
dist/
obj-x86_64-linux-gnu/
test/data/unittest.xml
test/data/functiontest.xml
test/data/securetest.xml
/cmake-build-debug/
/eric.sh
/.project.bak
